@import '../../../styles/variables.scss';

.sort {
    &Label {
        cursor: pointer;
        position: relative;
        padding: 0.7rem 1.3rem 0.5rem 1rem;
        width: 14rem;
        border: 1px solid $light-grey;
    }
    &Icon {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
        width: 0.7rem;
        height: 0.7rem;
        fill: $grey;
    }
    &Wrap {
        position: relative;
    }
    &List {
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 999;
        width: 14.4rem;
        padding: 0 1rem;
        border: 1px solid $light-grey;
        background: $white;
    }
    &Item {
        padding: 0.8rem 0;
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: 1px solid $light-grey;
        }
        &:hover {
            color: $primary;
        }
    }
}