@import '../../styles/variables.scss';

.product {
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        margin-bottom: 1rem;
        min-height: 75rem;
    }
}