@import '../../styles/variables.scss';

.header {
    border: 1px solid $light-grey;
    height: 4rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Text {
        cursor: default;
    }
}