@import '../../styles/variables.scss';

.singleprod {
    margin-bottom: 3rem;
    position: relative;

    &-fav {
        position: absolute;
        top: 0.9rem;
        right: 0;
        z-index: 99;
        cursor: pointer;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
    &-body {
        display: flex;
        margin-bottom: 2rem;
    }
    &-picture {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 31rem;
            height: 31rem;
        }
    }
    &-content {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &-info {
        flex: 1 1 auto;
        padding-top: 1rem;
    }
    &-name {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    &-price {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $primary;
    }
    &-description {
        font-family: $add-font;
        color: $dark-grey;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
    &-brand,
    &-category,
    &-type {
        font-family: $add-font;
        font-weight: 700;
        margin-bottom: 0.5rem;
        span {
            font-family: $add-font;
            font-weight: 400;
        }
    }
    &-type {
        margin-bottom: 1rem;
    }
    &-palet {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
        li {
            display: flex;
            padding: 0.5rem;
            border: 1px solid transparent;
            cursor: pointer;
            &.active {
                border: 1px solid $primary;
            }
            &:not(:last-child) {
                margin-right: 0.8rem;
            }
        }
        li span {
            font-family: $add-font;
            padding: 0.1rem 0;
        }
    }
    &-color {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    &-btn {
        margin-top: 3rem;
    }
    &-footer {
        padding: 1rem;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        display: flex;
        ul {
            display: flex;
            li {
                font-family: $add-font;
                font-weight: 400;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
    &-tag {
        font-family: $add-font;
        font-weight: 700;
        margin-right: 0.5rem;
    }
}