@import '../../styles/variables.scss';

.filters {
    width: 21.25rem;
    border: 1px solid $light-grey;
    margin-right: 1rem;
}

.filter {
    &List {
        padding: 0.7rem;
    }
    &Title {
        font-size: 1.3rem;
        padding: 1rem;
        border-bottom: 1px solid $light-grey;
    }
    &Btn {
        padding: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        button {
            top: 2rem;
        }
    }
}

.resetCategoryBtn {
    color: $primary;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 0.1rem;
        background: $primary;
    }
    button {
        transition: color .2s linear;
    }
    &:hover button {
        color: $primary;
    }
}

