@import '../../styles/variables.scss';

.filters {
    width: 21.25rem;
    margin-right: 1rem;
    padding: 0 0.5rem;
    border: 1px solid $light-grey;
}

.filter {
    &List {
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
        padding: 1rem 0.8rem;
        overflow-y: auto;
        max-height: 19.5rem;
        &::-webkit-scrollbar {
            width: 0.8rem;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $light-grey;
            height: 1rem;
            border-radius: 1.5rem;
            border: 3px solid $white;
        }
    }
    &Title {
        font-size: 1.3rem;
        padding: 1rem 1rem 0rem 1rem;
        // border-bottom: 1px solid $light-grey;
    }
    &Btn {
        padding: 1rem;
        text-align: center;
        button {
            top: 2rem;
        }
    }
}

.resetCategoryBtn {
    color: $primary;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 0.1rem;
        background: $primary;
    }
    button {
        transition: color .2s linear;
    }
    &:hover button {
        color: $primary;
    }
}

